* {
    box-sizing: border-box;
  }
  

.main-body{
    display: grid;
    grid-template-columns: minmax(300px,auto) 1fr;
    grid-gap: 20px;
    grid-template-areas:"navbar mainContent";
}
body {
    font-family: 'Cousine', monospace;
    display: flex;
    margin: 0;
    color: #079992;
    background:#1e272e;
  }
  header {
    font-size: 1.5em;
    font-weight: bold;
    color: azure;
  }
nav {
    background-color: #079992;;
    border-right: 2px solid #000000;
    min-width: 300px;
   
  }
#navbar{
    grid-area: navbar;
    position: fixed;
}
p{
    font-weight: 550;
}
nav header {
    padding: 15px;
  }
#navbar a{
    border-top: 1px solid #000;
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#main-doc{
    grid-area: mainContent;
}
section {
    padding: 20px;
    line-height: 1.5;
  }



  code {
    background-color: #fff;
    padding: 20px;
    display: block;
    color: #000;
  }
  @media screen and (max-width:750px){
      div.main-body{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
      }
      #navbar{
          position: inherit;
      }
      
  }