body{
    text-align: center;
    background-color: #05c46b;
    margin: 0;
}

h1{
    margin-bottom: 0;

}

h1 + p{
    margin-top: 0;

}

form{
    background-color: #fff;
    max-width: 450px;
    padding: 30px 20px;
    margin: 40px auto;
}